@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --background: rgb(0, 0, 0);
    --transparent1: rgba(0, 0, 0, 0.85);
    --transparent2: rgba(255, 255, 255, 0.1);
    --active1: rgb(255, 103, 103);
    --active2: rgb(219, 94, 94);
    --normal1: rgb(255, 255, 255);
    --normal2: rgb(199, 199, 199);
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: var(--normal1);
    background-color: lightpink;
    margin: 0px;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    margin-top: 50px;
    flex: 1;
}

.menu {
    background-color: rgba(0,0,0,0.85);
    padding: 5px;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
}

    .menu-list {
        display: flex;
        flex-direction: row;
        width: 600px;
        justify-content: space-evenly;
    }

    .menu .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
}

    .menu .nav-item {
        font-size: 1.2rem;
        display: block;
    }

        .menu .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
            text-decoration-line: none;
        }

            .menu .nav-item a.active {
                color: dodgerblue;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    display: flex;
    align-items: center;
}
        .navbar-toggler button{
            width: 50px;
            height: 50px;
            background-color: rgba(255, 255, 255, 0.1);
            color: white;
            border-radius: 5px;
            border: none;
        }

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}



@media (max-width: 767.98px) {
    .menu {
        width: 100%;
        flex-direction: column;
    }


    .menu-list {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    .collapse {
        display: none;
    }

    .menu .collapse {
        background-color: rgba(0,0,0,0.85);
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: column;
    }

    .menu {
        width: 100%;
        height: 50px;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .menu .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
