@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('commonPageStyles.css');

:root {
    --background: rgb(0, 0, 0);
    --background-lighter: rgb(10, 10, 10);
    --transparent1: rgba(30, 30, 30, 0.95);
    --transparent2: rgba(255, 255, 255, 0.1);
    --active1: rgb(255, 180, 0);
    --active2: rgb(255, 148, 0);
    --normal1: rgb(255, 255, 255);
    --normal2: rgb(199, 199, 199);
    --normal3: rgb(45, 45, 45);
    --border_black: rgb(43, 43, 43);
}

.centered-container {
    position: fixed;
    width: 0px;
    height: 0px;
    top: 50%;
    left: 50%;
}

.top-leftContainer{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#loading-text {
    position: relative;
    width: 100px;
    left: -50px;
    color: var(--active1);
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: var(--normal1);
    background-color: var(--background);
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}


h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 6px;
    margin-bottom: 6px;
}

h3 {
    margin-top: 6px;
    margin-bottom: 6px;
    color: var(--normal2);
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.link {
    color: var(--active2);
    text-decoration: none;
    cursor: pointer;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.photo {
    display: flex;
    justify-content: center;
}

.tooltip {
    position: relative;
}
    .tooltip .tooltip-text {
        visibility: hidden;
        position: absolute;
        width: 100px;
        font-size: 15px;
        background-color: var(--normal3);
        color: var(--normal1);
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        z-index: 1;
        opacity: 0;
        transition: opacity .2s;
    }

    .tooltip:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
    }

    .tooltip .tooltip-top {
        bottom: 125%;
        left: 50%;
        margin-left: -50px;
    }


#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.smallWindow .Reveal .Reveal-bottom .item {
    margin-left: 10px;
    margin-right: 10px;
}