@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('Home.css');
@import url('About.css');
@import url('TopBar.css');
@import url('Contact.css');

:root {
    --background: rgb(0, 0, 0);
    --transparent1: rgba(0, 0, 0, 0.9);
    --transparent2: rgba(255, 255, 255, 0.1);
    --active1: rgb(255, 103, 103);
    --active2: rgb(219, 94, 94);
    --normal1: rgb(255, 255, 255);
    --normal2: rgb(199, 199, 199);
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: var(--normal1);
    background-color: var(--background);
    margin: 0px;
}

#loading-text{
    position: fixed;
    top: 50%;
    left: 50%;
    color: var(--active1);
}


h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 64px;
}

h2 {
    margin-top: 6px;
    margin-bottom: 6px;
}

h3 {
    margin-top: 6px;
    margin-bottom: 6px;
    color: var(--normal2);
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.link {
    color: var(--active2);
    text-decoration: none;
}

.page {
    height: 100vh;
    box-sizing: border-box;
    padding-top: 80px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}


.page-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    min-width: 300px;
}

    .page-content .side {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        .page-content .side.left-side {
            width: 100%;
        }

        .page-content .side.right-side {
            width: 100%;
        }

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}



@media (max-width: 767.98px) {
}

@media (min-width: 768px) {
.page {
    padding-left: 100px;
    padding-right: 100px;
}

.page-content {
    flex-direction: row;
}

    .page-content .side.left-side {
        width: 60%;
    }

    .page-content .side.right-side {
        width: 40%;
    }
}
