
#Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#Home .side.left-side {
    width: 100%;
}

#Home .side.right-side {
    width: 0px;
}



@media (max-width: 767.98px) {
}

@media (min-width: 768px) {
}