<a class="@CssClass tooltip" href="@Link" target="_blank">
    @ChildContent
    <span class="tooltip-text tooltip-top">@Label</span>
</a>

@code {
    [Parameter]
    public string CssClass { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Link { get; set; }

    [Parameter]
    public string  Label { get; set; }
}
