.smallWindow {
    display: block;
    box-sizing: border-box;
    min-width: 200px;
    padding: 10px;
    width: 33.33333%;
    max-width: 250px;
    color: var(--normal2);
}

    .smallWindow .interior {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 2px;
        background-color: var(--normal3);
        overflow: hidden;
    }

    .smallWindow .Header {
        height: 180px;
        overflow: hidden;
        cursor: pointer;
    }

        .smallWindow .Header img {
            top: 0px;
            left: 0px;
            width: 100%;
        }


    .smallWindow .Content {
        height: 100px;
        padding: 10px;
    }

        .smallWindow .Content .Title {
            color: var(--active1);
            cursor: pointer;
        }

    .smallWindow .Reveal {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: inherit;
        padding: 10px;
        box-sizing: border-box;
        transform: translateY(-100%);
        transition: transform 0.3s;
    }

        .smallWindow .Reveal.collapse {
            transform: translateY(0px)
        }

        .smallWindow .Reveal .Title {
            color: var(--normal1);
            cursor: pointer;
        }

        .smallWindow .Reveal .Reveal-bottom {
            width: 100%;
            height: 70px;
            position: absolute;
            padding: 10px 20px;
            bottom: 0px;
            left: 0px;
            display: flex;
            flex-direction: row;
            align-items: center;
            box-sizing: border-box;
            border-top: 1px solid var(--normal3);
        }

@media (max-width: 900px) {
    .smallWindow {
        width: 50%;
        margin: auto;
        max-width: 300px;
    }
}