<div class="smallWindow">
    <div class="interior">
        <div class="Header" @onclick="Open">
            @Header
        </div>

        <div class="Content">
            <h2 @onclick="Open" class="Title">
                <i class="fas fa-ellipsis-v" style="margin-right: 6px"></i>
                @Title
            </h2>
            @Content
        </div>

        <div class="Reveal @RevealCssClass">
            <h2 @onclick="Close" class="Title">
                <i class="fas fa-times" style="float: right;"></i>
                Tools
            </h2>
            @Reveal
        <div class="Reveal-bottom">
            @if (Web != null)
            {
                <IconLink CssClass="item" Link="@Web" Label="View Online">
                    <i class="fas fa-external-link-alt fa-2x"></i>
                </IconLink>
            }

            @if (Git != null)
            {
                <IconLink CssClass="item" Link="@Git" Label="View Sorce">
                    <i class="fas fa-book fa-2x"></i>
                </IconLink>
            }
        </div>
        </div>
    </div>

</div>