@using System;

<div id="main-container">
    <Background @ref="Background"></Background>
    <div @oncustomscroll="Scrolled" id="main-scroll">
        <div @oncustomscroll:stopPropagation>
            <CascadingValue Value="this">
                <TopNavigator @ref="Navigation">
                    @foreach (Page page in Pages)
                    {
                        <div class="nav-item @(ActivePage == page ? "active" : "")" @onclick="async () => { Navigation?.CloseNavMenu(); await page.ScrollTo(); }">
                            @(page.Label)
                        </div>
                    }
                </TopNavigator>
                @MainPage
                @ChildContent
            </CascadingValue>
        </div>
    </div>
</div>


