<div class="topbar @NavMenuCssClass">

    <div class="toggler">
        <button @onclick="ToggleNavMenu">
            <div class="oi oi-menu"></div>
        </button>
    </div>

    <div class="topbar-list">
        @ChildContent
        <div class="nav-item" @onclick="CloseNavMenu">
            <div class="oi oi-x" aria-hidden="true"></div>
        </div>
    </div>

</div>