@page "/About"

<div class="page-content" id="About">
    <div class="side left-side">
        <h2>
            Hello again! My name is Tomasz Gawron, an application developer at College of Economics and Computer Science in Cracow.
        </h2>


        <h3>
            Recently I am also interested in pattern recognition and machine learning. This field is realy fascinating... and a little more complicated than I tought. However, I am not going to give up that easly. Wish me luck 🤞.
        </h3>
        <h3>
            ❗️❗️❗️ I want to keep improving my programing skills and gain profesinal experience, so if you are looking for an intern and I look like the right person for you, <a href="/Contact">please contact me ></a>. ❗️❗️❗️
        </h3>
    </div>

    <div class="side right-side">
        <img id="profile-photo" draggable="false" src="/data/About/1.jpg" />
    </div>
</div>


@code {

}
