<div class="page" id="Home">
    <div class="page-content">
        <div class="side left-side">
            <h1>Hello, I'm Tomek.</h1>
            <h2>full-stack application developer.</h2>
            <a class="link" href="About">Learn more ></a>
        </div>
    </div>
</div>

@code {

}
