@page "/"

<div class="page">
    <div class="page-content">
        <div class="side left-side">
            <h1>Hello, I'm Tomek.</h1>
            <h2>Web and Mobile Application Developer.</h2>
            <a href="/About">Learn more ></a>
        </div>
        <div class="side right-side">
            <img id="profile-photo" draggable="false" src="/data/Home/1.jpg" />
        </div>
    </div>
</div>
