@page "/"


<div class="page-content" id="Home">
    <div class="side left-side">
        <h1>Hello, I'm Tomek.</h1>
        <h2>full-stack application developer.</h2>
        <a href="/About">Learn more ></a>
    </div>
</div>
