
<Page Label="About" Icon="oi oi-person">
    <div class="page-content">
        <div class="side-left text">
            <h2>
                Hello again! My name is Tomasz Gawron, an application developer at College of Economics and Computer Science in Cracow.
            </h2>
            <h3>
                Recently I am also interested in pattern recognition and machine learning. This field is realy fascinating... and a little more complicated than I tought. However, I am not going to give up that easly. Wish me luck 🤞.
            </h3>
        </div>
        <div class="side-right photo">
            <img id="profile-photo" draggable="false" src="/data/1.jpg" />
        </div>
    </div>
</Page>

@code {

}
