<Page Label="About" Icon="oi oi-person">
    <div class="page">

        <div class="page-content">
            <div class="side-left text">
                <h1 id="about-me-title">
                    @Title
                </h1>
                <h2>
                    Hello again! My name is Tomasz Gawron, a freshly graduated software developer at College of Economics and Computer Science in Cracow.
                </h2>
                <h3>
                    I love to solve algorithmic problems, look for new solutions and use them later during development of an application.
                </h3>
                <h3>
                    Recently interested in machine learning and artificial intelligence.
                </h3>
            </div>
            <div class="side-right">
                <div id="contacts-container">
                    <a class="link-box" href="mailto:tomasz.gawron.901@gmail.com?subject=Hello!">
                        <i class="fas fa-envelope-square fa-2x"></i>
                        <h4 class="text">tomasz.gawron.901@gmail.com</h4>
                    </a>
                    <a class="link-box" href="https://www.linkedin.com/in/tomaszgawron901/" target="_blank">
                        <i class="fab fa-linkedin fa-2x"></i>
                        <h4 class="text">linkedin.com/in/tomaszgawron901</h4>
                    </a>
                    <a class="link-box" href="https://github.com/tomaszgawron901" target="_blank">
                        <i class="fab fa-github-square fa-2x"></i>
                        <h4 class="text">github.com/tomaszgawron901</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</Page>