
<Page Label="About" Icon="oi oi-person">
    <div class="page-content">
        <div class="side-left text">
            <h2>
                Hello again! My name is Tomasz Gawron, an application developer at College of Economics and Computer Science in Cracow.
            </h2>
            <h3>
                I love solving algorithmic exercises, looking for new / optimal solutions and use them later during development of an application.
            </h3>
        </div>
        <div class="side-right photo">
            <img id="profile-photo" draggable="false" src="/data/1.jpg" />
        </div>
    </div>
</Page>

@code {

}
