<div id="background-outer-container">
    <div id="background-inner-container" style="top: @top">
        <div id="background-component" @ref="Container"></div>
        <div id="background-fadeaway"></div>
    </div>
</div>

