
<Page Label="Contact" Icon="oi oi-envelope-closed">
    <div class="page-content">
        <div class="side-left">
            <a class="link-box" href="mailto:tomasz.gawron.901@gmail.com?subject=Hello!">
                <i class="fas fa-envelope-square fa-4x" style="color: var(--active1)"></i>
                <h4>tomasz.gawron.901@gmail.com</h4>
            </a>
            <a class="link-box" href="https://www.linkedin.com/in/tomaszgawron901/" target="_blank">
                <i class="fab fa-linkedin fa-4x" style="color: var(--active1)"></i>
                <h4>https://www.linkedin.com/in/tomaszgawron901</h4>
            </a>
            <a class="link-box" href="https://github.com/tomaszgawron901" target="_blank">
                <i class="fab fa-github-square fa-4x" style="color: var(--active1)"></i>
                <h4>https://github.com/tomaszgawron901</h4>
            </a>
        </div>
        <div class="side-right text">
            <h3>
                ❗️❗️❗️ I want to keep improving my programing skills and gain profesinal experience, so if you are looking for an intern and I look like the right person for you, please contact me. ❗️❗️❗️
            </h3>
        </div>
    </div>
</Page>

@code {

}
