<Page Label="Contact" Icon="oi oi-envelope-closed">
    <div class="page">
        <div class="page-content">
            <h1 id="contact-title">
                @Title
            </h1>
            <div id="contacts-container">
                <a class="link-box" href="mailto:tomasz.gawron.901@gmail.com?subject=Hello!">
                    <i class="fas fa-envelope-square fa-2x"></i>
                    <h4>tomasz.gawron.901@gmail.com</h4>
                </a>
                <a class="link-box" href="https://www.linkedin.com/in/tomaszgawron901/" target="_blank">
                    <i class="fab fa-linkedin fa-2x"></i>
                    <h4>linkedin.com/in/tomaszgawron901</h4>
                </a>
                <a class="link-box" href="https://github.com/tomaszgawron901" target="_blank">
                    <i class="fab fa-github-square fa-2x"></i>
                    <h4>github.com/tomaszgawron901</h4>
                </a>
            </div>
        </div>
    </div>
</Page>