@using portfolio.Components
@inherits Page

<div class="page" @ref="self">
    <div class="page-content">
        <div class="side-full">
            <h1>Hello, I'm Tomek.</h1>
            <h2>full-stack application developer.</h2>
            <span class="link" @onclick="() => { Parent.ScrollTo(1); }">Learn more ></span>
        </div>
    </div>
</div>
