@inject IJSRuntime JsRuntime

<Page Label="Home" Icon="oi oi-home">
    <div class="top-leftContainer" @ref="backgroundContainer"></div>
    <div class="page-content" style="position: relative;">
        <div class="side-full">
            <h1>Hello, I'm Tomek.</h1>
            <h2>full-stack application developer.</h2>
            <span class="link" @onclick="() => { Parent.ScrollTo(1); }">Learn more ></span>
        </div>
    </div>
</Page>

@code {
    [CascadingParameter]
    public TabControl Parent { get; set; }

    private ElementReference backgroundContainer;
    private JsRuntimeObjectRef backgroundApp;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            backgroundApp = await JsRuntime.InvokeAsync<JsRuntimeObjectRef>("appendBackgroundApp", backgroundContainer);
            backgroundApp.JsRuntime = JsRuntime;
            Console.WriteLine(backgroundApp.JsObjectRefId);
            await JsRuntime.InvokeVoidAsync("stopBackground", backgroundApp);
            
        }
    }
}
