
<Page Label="Projects" Icon="oi oi-briefcase">
    <div class="side-full row">
        <ProjectCard Title="Chess Application" Web="https://chesswebapp20200710224408.azurewebsites.net" Git="https://github.com/tomaszgawron901/Chess">
            <Header>
                <img src="/data/Chess1.png" />
            </Header>
            <Content>
                Desktop and Web application where you can play chess with friend.
            </Content>
            <Reveal>
                <ul>
                    <li>.NET Framework</li>
                    <li>WPF</li>
                    <li>C#</li>
                    <li>ASP.NET</li>
                    <li>Blazor</li>
                    <li>JavaScript</li>
                </ul>
            </Reveal>
        </ProjectCard>

        <ProjectCard>
            <Header>
                Header2
            </Header>
            <Content>
                Content2
            </Content>
            <Reveal>
                Reveal2
            </Reveal>
        </ProjectCard>

        <ProjectCard>
            <Header>
                Header3
            </Header>
            <Content>
                Content3
            </Content>
            <Reveal>
                Reveal3
            </Reveal>
        </ProjectCard>

        <ProjectCard>
            <Header>
                Header4
            </Header>
            <Content>
                Content4
            </Content>
            <Reveal>
                Reveal4
            </Reveal>
        </ProjectCard>
    </div>
</Page>

@code {

}
