
<Page Label="Projects" Icon="oi oi-briefcase">
    <div class="side-full row">
        <ProjectCard Title="Chess" Web="https://chesswebapp20200710224408.azurewebsites.net" Git="https://github.com/tomaszgawron901/Chess">
            <Header>
                <img src="/data/Chess1.png" />
            </Header>
            <Content>
                Desktop and Web application where you can play chess with friend.
            </Content>
            <Reveal>
                <ul>
                    <li>.NET Framework</li>
                    <li>WPF</li>
                    <li>C#</li>
                    <li>ASP.NET</li>
                    <li>Blazor</li>
                    <li>JavaScript</li>
                </ul>
            </Reveal>
        </ProjectCard>

        <ProjectCard Title="Minesweeper" Git="https://github.com/tomaszgawron901/Saper">
            <Header>
                <img src="/data/Saper1.png" />
            </Header>
            <Content>
                Website Minesweeper Application
            </Content>
            <Reveal>
                <ul>
                    <li>TypeScript</li>
                    <li>HTML</li>
                    <li>Sass</li>
                    <li>Node.js</li>
                </ul>
            </Reveal>
        </ProjectCard>

        <ProjectCard Title="NotePocket" Git="https://github.com/tomaszgawron901/JavaScript-programing-projects">
            <Header>
                <img src="/data/NotePocket1.png" />
            </Header>
            <Content>
                Content3
            </Content>
            <Reveal>
                <ul>
                    <li>JavaScript</li>
                    <li>HTML</li>
                    <li>CSS</li>
                </ul>
            </Reveal>
        </ProjectCard>

        <ProjectCard Title="ToDo Application" Git="https://github.com/tomaszgawron901/ToDoApp">
            <Header>
                <img src="/data/ToDoApp3.png" />
            </Header>
            <Content>
                Content4
            </Content>
            <Reveal>
                <ul>
                    <li>TypeScript</li>
                    <li>React Native</li>
                    <li>Redux</li>
                    <li>Expo</li>
                </ul>
            </Reveal>
        </ProjectCard>
    </div>
</Page>

@code {

}
